on early-init
    start ueventd

on init
    #-------------------------------------------------------------------------------------
    # Category [hiro.lim@lge.com PC Suite BNR] 
    # add /system/sbin:/system/bin:/system/xbin into PATH for BnR daemon
    # Please move this configuration into brd daemon with setenv later
    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    #export LD_LIBRARY_PATH /sbin
    #export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    #--------------------------------------------------------------------------------------
    # [bonkang.koo@lge.com 121105]
    # wait for eMMC partition mount
    #--------------------------------------------------------------------------------------
    wait /dev/block/mmcblk0
    
    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    #--------------------------------------------------------------------------------------
    # Category [hiro.lim@lge.com PC Suite BNR] 
    # add directories to mount internal sd card
    #--------------------------------------------------------------------------------------
    mkdir /mnt
    mkdir /mnt/sdcard
    #symlink /mnt/sdcard /sdcard
    # hiro_END
    mount /tmp /tmp tmpfs

    chown root shell /tmp
    chmod 0775 /tmp
    #system
    wait /dev/block/platform/msm_sdcc.1/by-name/system
    chmod 0777 /sbin/e2fsck_static
    exec /sbin/e2fsck_static -y /dev/block/platform/msm_sdcc.1/by-name/system
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro barrier=1	

    #persist
    mkdir /persist 0771 system system
    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    exec /system/bin/e2fsck -y /dev/block/platform/msm_sdcc.1/by-name/persist
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev barrier=1 data=ordered nodelalloc

    write /sys/class/android_usb/android0/enable 0
    #write /sys/class/android_usb/android0/idVendor 18D1
    #write /sys/class/android_usb/android0/idProduct D001
    #write /sys/class/android_usb/android0/functions adb
    #write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    #write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    #write /sys/class/android_usb/android0/iSerial ${ro.serialno}


on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

#-------------------------------------------------------------------------------------
# Category [hiro.lim@lge.com PC Suite BNR] launch B&R daemon for recovery mode as root user
service brd /sbin/brd
#    user root
# hiro_END
service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 631F
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iSerial ${ro.product.model}-${ro.serialno}
    write /sys/class/android_usb/android0/enable 1
    start adbd

# Always start adbd on BNR running
on property:ro.bootmode=--bnr_recovery
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1004
    write /sys/class/android_usb/android0/idProduct 631F
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iSerial ${ro.product.model}-${ro.serialno}
    write /sys/class/android_usb/android0/enable 1
    start adbd

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
